$clr-primary-red: hsl(12, 88%, 59%);
$clr-primary-red-light: hsl(12, 88%, 70%);
$clr-primary-blue: hsl(228, 39%, 23%);

$clr-neutral-grayish-blue: hsl(227, 12%, 61%);
$clr-neutral-dark-blue: hsl(233, 12%, 13%);
$clr-neutral-pale-red: hsl(13, 100%, 96%);
$clr-neutral-light-gray: hsl(0, 0%, 98%);
